---
http_interactions:
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/kafka?import_id=1
    body:
      encoding: UTF-8
      string: '{"singer_config":{"bootstrap_servers":"pkc-43n10.us-central1.gcp.confluent.cloud:9092","topic":"snowplow-production-enriched","deserializer":"snowplow_analytics_sdk.event_transformer.transform","consumer_config":{"security_protocol":"SASL_SSL","sasl_mechanism":"PLAIN","sasl_plain_username":"TQAEH2LA3GBUO3HD","sasl_plain_password":"<KAFKA_SASL_PLAIN_PASSWORD>","api_version":"1.0.0"},"schema":{"description":"Schema
        for an event which has been successfully enriched and stored in Elasticsearch","self":{"vendor":"com.snowplow.superpro","name":"snowplow_enriched_event","format":"jsonschema","version":"1-0-0"},"type":["object","null"],"properties":{"app_id":{"type":["string","null"]},"platform":{"type":["string","null"]},"etl_tstamp":{"type":["string","null"],"pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}\\.[0-9]{3}$"},"collector_tstamp":{"type":["string","null"],"pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}\\.[0-9]{3}$"},"dvce_tstamp":{"type":["string","null"],"pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}\\.[0-9]{3}$"},"event":{"type":["string","null"]},"event_id":{"type":["string","null"]},"txn_id":{"type":["integer","null"]},"name_tracker":{"type":["string","null"]},"v_tracker":{"type":["string","null"]},"v_collector":{"type":["string","null"]},"v_etl":{"type":["string","null"]},"user_id":{"type":["string","null"]},"user_ipaddress":{"type":["string","null"]},"user_fingerprint":{"type":["string","null"]},"domain_userid":{"type":["string","null"]},"domain_sessionidx":{"type":["integer","null"]},"network_userid":{"type":["string","null"]},"geo_country":{"type":["string","null"]},"geo_region":{"type":["string","null"]},"geo_city":{"type":["string","null"]},"geo_zipcode":{"type":["string","null"]},"geo_latitude":{"type":["number","null"]},"geo_longitude":{"type":["number","null"]},"geo_region_name":{"type":["string","null"]},"geo_location":{"type":["string","null"],"pattern":"-?[0-9]+(?:\\.[0-9+])?,-?[0-9]+(?:\\.[0-9+])?"},"ip_isp":{"type":["string","null"]},"ip_org":{"type":["string","null"]},"ip_domain":{"type":["string","null"]},"ip_netspeed":{"type":["string","null"]},"page_url":{"type":["string","null"]},"page_title":{"type":["string","null"]},"page_referrer":{"type":["string","null"]},"page_urlscheme":{"type":["string","null"]},"page_urlhost":{"type":["string","null"]},"page_urlport":{"type":["integer","null"]},"page_urlpath":{"type":["string","null"]},"page_urlquery":{"type":["string","null"]},"page_urlfragment":{"type":["string","null"]},"refr_urlscheme":{"type":["string","null"]},"refr_urlhost":{"type":["string","null"]},"refr_urlport":{"type":["integer","null"]},"refr_urlpath":{"type":["string","null"]},"refr_urlquery":{"type":["string","null"]},"refr_urlfragment":{"type":["string","null"]},"refr_medium":{"type":["string","null"]},"refr_source":{"type":["string","null"]},"refr_term":{"type":["string","null"]},"mkt_medium":{"type":["string","null"]},"mkt_source":{"type":["string","null"]},"mkt_term":{"type":["string","null"]},"mkt_content":{"type":["string","null"]},"mkt_campaign":{"type":["string","null"]},"se_category":{"type":["string","null"]},"se_action":{"type":["string","null"]},"se_label":{"type":["string","null"]},"se_property":{"type":["string","null"]},"se_value":{"type":["string","null"]},"tr_orderid":{"type":["string","null"]},"tr_affiliation":{"type":["string","null"]},"tr_total":{"type":["number","null"]},"tr_tax":{"type":["number","null"]},"tr_shipping":{"type":["number","null"]},"tr_city":{"type":["string","null"]},"tr_state":{"type":["string","null"]},"tr_country":{"type":["string","null"]},"ti_orderid":{"type":["string","null"]},"ti_sku":{"type":["string","null"]},"ti_name":{"type":["string","null"]},"ti_category":{"type":["string","null"]},"ti_price":{"type":["number","null"]},"ti_quantity":{"type":["integer","null"]},"pp_xoffset_min":{"type":["integer","null"]},"pp_xoffset_max":{"type":["integer","null"]},"pp_yoffset_min":{"type":["integer","null"]},"pp_yoffset_max":{"type":["integer","null"]},"useragent":{"type":["string","null"]},"br_name":{"type":["string","null"]},"br_family":{"type":["string","null"]},"br_version":{"type":["string","null"]},"br_type":{"type":["string","null"]},"br_renderengine":{"type":["string","null"]},"br_lang":{"type":["string","null"]},"br_features_pdf":{"type":["boolean","null"]},"br_features_flash":{"type":["boolean","null"]},"br_features_java":{"type":["boolean","null"]},"br_features_director":{"type":["boolean","null"]},"br_features_quicktime":{"type":["boolean","null"]},"br_features_realplayer":{"type":["boolean","null"]},"br_features_windowsmedia":{"type":["boolean","null"]},"br_features_gears":{"type":["boolean","null"]},"br_features_silverlight":{"type":["boolean","null"]},"br_cookies":{"type":["boolean","null"]},"br_colordepth":{"type":["string","null"]},"br_viewwidth":{"type":["integer","null"]},"br_viewheight":{"type":["integer","null"]},"os_name":{"type":["string","null"]},"os_family":{"type":["string","null"]},"os_manufacturer":{"type":["string","null"]},"os_timezone":{"type":["string","null"]},"dvce_type":{"type":["string","null"]},"dvce_ismobile":{"type":["boolean","null"]},"dvce_screenwidth":{"type":["integer","null"]},"dvce_screenheight":{"type":["integer","null"]},"doc_charset":{"type":["string","null"]},"doc_width":{"type":["integer","null"]},"doc_height":{"type":["integer","null"]},"tr_currency":{"type":["string","null"]},"tr_total_base":{"type":["number","null"]},"tr_tax_base":{"type":["number","null"]},"tr_shipping_base":{"type":["number","null"]},"ti_currency":{"type":["string","null"]},"ti_price_base":{"type":["number","null"]},"base_currency":{"type":["string","null"]},"geo_timezone":{"type":["string","null"]},"mkt_clickid":{"type":["string","null"]},"mkt_network":{"type":["string","null"]},"etl_tags":{"type":["string","null"]},"dvce_sent_tstamp":{"type":["string","null"]},"refr_domain_userid":{"type":["string","null"]},"refr_dvce_tstamp":{"type":["string","null"]},"session_id":{"type":["string","null"]},"contexts_com_google_analytics_cookies_1":{"type":["array","null"],"items":{"type":["object","null"],"properties":{"_ga":{"type":["string","null"]}}}},"contexts_com_snowplowanalytics_snowplow_web_page_1":{"type":["array","null"],"items":{"type":["object","null"],"properties":{"id":{"type":["string","null"]}}}},"contexts_org_w3_performance_timing_1":{"type":["array","null"],"items":{"type":["object","null"],"properties":{"navigationStart":{"type":["number","null"]},"unloadEventStart":{"type":["number","null"]},"unloadEventEnd":{"type":["number","null"]},"redirectStart":{"type":["number","null"]},"redirectEnd":{"type":["number","null"]},"fetchStart":{"type":["number","null"]},"domainLookupStart":{"type":["number","null"]},"domainLookupEnd":{"type":["number","null"]},"connectStart":{"type":["number","null"]},"connectEnd":{"type":["number","null"]},"secureConnectionStart":{"type":["number","null"]},"requestStart":{"type":["number","null"]},"responseStart":{"type":["number","null"]},"responseEnd":{"type":["number","null"]},"domLoading":{"type":["number","null"]},"domInteractive":{"type":["number","null"]},"domContentLoadedEventStart":{"type":["number","null"]},"domContentLoadedEventEnd":{"type":["number","null"]},"domComplete":{"type":["number","null"]},"loadEventStart":{"type":["number","null"]},"loadEventEnd":{"type":["number","null"]}}}}},"patternProperties":{"^contexts_.*":{"type":["array","null"]},"^unstruct_event_.*":{}},"additionalProperties":true}},"singer_state":{},"transform":{}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"stream": "STDERR", "tag": "target", "message": "INFO PostgresTarget created with established connection: `host=postgres port=5432 dbname=superpro_development user=superpro`, PostgreSQL schema: `raw_tap_kafka`\n"}
        {"stream": "STDERR", "tag": "target", "message": "INFO Sending version information to singer.io. To disable sending anonymous usage data, set the config parameter \"disable_collection\" to true\n"}
        {"stream": "STDERR", "tag": "tap", "message": "WARNING use api_version=(1, 0, 0) [tuple] -- \"1.0.0\" as str is deprecated\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO Syncing stream:snowplow-production-enriched\n"}
        {"stream": "STDOUT", "tag": "target", "message": "{\"bookmarks\": {\"snowplow-production-enriched\": {\"version\": 1568765485116}}}\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connecting> [IPv4 ('34.68.241.146', 9092)]>: connecting to pkc-43n10.us-central1.gcp.confluent.cloud:9092 [('34.68.241.146', 9092) IPv4]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('34.68.241.146', 9092)]>: Authenticated as TQAEH2LA3GBUO3HD via PLAIN\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('34.68.241.146', 9092)]>: Connection complete.\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=0 host=b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connecting> [IPv4 ('35.239.43.200', 9092)]>: connecting to b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 [('35.239.43.200', 9092) IPv4]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=0 host=b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('35.239.43.200', 9092)]>: Authenticated as TQAEH2LA3GBUO3HD via PLAIN\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=0 host=b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('35.239.43.200', 9092)]>: Connection complete.\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connected> [IPv4 ('34.68.241.146', 9092)]>: Closing connection. \n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=1 host=b1-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connecting> [IPv4 ('35.193.113.160', 9092)]>: connecting to b1-pkc-43n10.us-central1.gcp.confluent.cloud:9092 [('35.193.113.160', 9092) IPv4]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=1 host=b1-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authent[...]
