---
http_interactions:
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/kafka?global_import_id=1
    body:
      encoding: UTF-8
      string: '{"singer_config":{"bootstrap_servers":"pkc-43n10.us-central1.gcp.confluent.cloud:9092","topic":"snowplow-production-enriched-bad","consumer_config":{"security_protocol":"SASL_SSL","sasl_mechanism":"PLAIN","sasl_plain_username":"TQAEH2LA3GBUO3HD","sasl_plain_password":"<KAFKA_SASL_PLAIN_PASSWORD>","api_version":"1.0.0"},"schema":{"description":"Schema
        for a Snowplow event which failed to be enriched and then was landed in kafka","self":{"vendor":"com.snowplow.superpro","name":"snowplow_enriched_event_bad","format":"jsonschema","version":"1-0-0"},"type":["object","null"],"properties":{"line":{"type":["string","null"]},"failure_tstamp":{"type":["string","null"]},"errors":{"type":["array","null"],"items":{"type":["object","null"],"properties":{"level":{"type":["string","null"]},"message":{"type":["string","null"]}}}}},"additionalProperties":true}},"singer_state":{},"transform":{}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"stream": "STDERR", "tag": "target", "message": "INFO PostgresTarget created with established connection: `host=postgres port=5432 dbname=superpro_development user=superpro`, PostgreSQL schema: `raw_tap_kafka`\n"}
        {"stream": "STDERR", "tag": "target", "message": "INFO Sending version information to singer.io. To disable sending anonymous usage data, set the config parameter \"disable_collection\" to true\n"}
        {"stream": "STDERR", "tag": "tap", "message": "WARNING use api_version=(1, 0, 0) [tuple] -- \"1.0.0\" as str is deprecated\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO Syncing stream:snowplow-production-enriched-bad\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connecting> [IPv4 ('34.68.241.146', 9092)]>: connecting to pkc-43n10.us-central1.gcp.confluent.cloud:9092 [('34.68.241.146', 9092) IPv4]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('34.68.241.146', 9092)]>: Authenticated as TQAEH2LA3GBUO3HD via PLAIN\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('34.68.241.146', 9092)]>: Connection complete.\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=0 host=b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connecting> [IPv4 ('35.239.43.200', 9092)]>: connecting to b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 [('35.239.43.200', 9092) IPv4]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=0 host=b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('35.239.43.200', 9092)]>: Authenticated as TQAEH2LA3GBUO3HD via PLAIN\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=0 host=b0-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authenticating> [IPv4 ('35.239.43.200', 9092)]>: Connection complete.\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=bootstrap-0 host=pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connected> [IPv4 ('34.68.241.146', 9092)]>: Closing connection. \n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=2 host=b2-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <connecting> [IPv4 ('34.67.145.241', 9092)]>: connecting to b2-pkc-43n10.us-central1.gcp.confluent.cloud:9092 [('34.67.145.241', 9092) IPv4]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO <BrokerConnection node_id=2 host=b2-pkc-43n10.us-central1.gcp.confluent.cloud:9092 <authentic[...]
