---
http_interactions:
- request:
    method: get
    uri: https://sole-destroyer.myshopify.com/admin/api/2019-04/script_tags.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '54'
      X-Sorting-Hat-Shopid:
      - '10572333111'
      X-Shopid:
      - '10572333111'
      X-Shardid:
      - '54'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3141129'
      X-Stats-Apipermissionid:
      - '191963299895'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-04
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"script_tags":[{"id":62007607351,"src":"https:\/\/sp-assets.superpro.io\/shopify-script-tag.js","event":"onload","created_at":"2019-09-16T18:45:12-04:00","updated_at":"2019-09-16T18:45:12-04:00","display_scope":"all"}]}'
  recorded_at: Mon, 16 Sep 2019 22:46:41 GMT
- request:
    method: delete
    uri: https://sole-destroyer.myshopify.com/admin/api/2019-04/script_tags/62007607351.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '54'
      X-Sorting-Hat-Shopid:
      - '10572333111'
      X-Shopid:
      - '10572333111'
      X-Shardid:
      - '54'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3141129'
      X-Stats-Apipermissionid:
      - '191963299895'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-04
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Mon, 16 Sep 2019 22:46:41 GMT
[...]
- request:
    method: post
    uri: https://sole-destroyer.myshopify.com/admin/api/2019-04/script_tags.json
    body:
      encoding: UTF-8
      string: '{"script_tag":{"src":"https://sp-assets.superpro.io/shopify-script-tag.js","event":"onload","display_scope":"all"}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '54'
      X-Sorting-Hat-Shopid:
      - '10572333111'
      X-Shopid:
      - '10572333111'
      X-Shardid:
      - '54'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3141129'
      X-Stats-Apipermissionid:
      - '191963299895'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Shopify-Api-Version:
      - 2019-04
      Location:
      - https://sole-destroyer.myshopify.com/admin/script_tags/62007705655
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: UTF-8
      string: '{"script_tag":{"id":62007705655,"src":"https:\/\/sp-assets.superpro.io\/shopify-script-tag.js","event":"onload","created_at":"2019-09-16T18:46:42-04:00","updated_at":"2019-09-16T18:46:42-04:00","display_scope":"all"}}'
  recorded_at: Mon, 16 Sep 2019 22:46:42 GMT
[...]
- request:
    method: get
    uri: https://sole-destroyer.myshopify.com/admin/api/2019-04/script_tags.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '54'
      X-Sorting-Hat-Shopid:
      - '10572333111'
      X-Shopid:
      - '10572333111'
      X-Shardid:
      - '54'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3141129'
      X-Stats-Apipermissionid:
      - '191963299895'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Shopify-Api-Version:
      - 2019-04
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"script_tags":[{"id":62007738423,"src":"https:\/\/sp-assets.superpro.io\/shopify-script-tag.js","event":"onload","created_at":"2019-09-16T18:46:43-04:00","updated_at":"2019-09-16T18:46:43-04:00","display_scope":"all"}]}'
  recorded_at: Mon, 16 Sep 2019 22:46:44 GMT
recorded_with: VCR 5.0.0
