---
http_interactions:
- request:
    method: get
    uri: https://sole-destroyer.myshopify.com/admin/api/2019-04/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '54'
      X-Sorting-Hat-Shopid:
      - '10572333111'
      X-Shopid:
      - '10572333111'
      X-Shardid:
      - '54'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3140813'
      X-Stats-Apipermissionid:
      - '193804075063'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 37/40
      X-Shopify-Shop-Api-Call-Limit:
      - 37/40
      X-Shopify-Api-Version:
      - 2019-04
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"shop":{"id":10572333111,"name":"Sole Destroyer","email":"harry@superpro.io","domain":"sole-destroyer.myshopify.com","province":"Ontario","country":"CA","address1":"150
        Elgin St","zip":"K2P 1L4","city":"Ottawa","source":null,"phone":"","latitude":45.4203341,"longitude":-75.6935651,"primary_locale":"en","address2":null,"created_at":"2019-09-16T15:12:15-04:00","updated_at":"2019-09-24T13:00:34-04:00","country_code":"CA","country_name":"Canada","currency":"CAD","customer_email":"harry@superpro.io","timezone":"(GMT-05:00)
        Eastern Time (US \u0026 Canada)","iana_timezone":"America\/New_York","shop_owner":"Sole
        Destroyer Admin","money_format":"${{amount}}","money_with_currency_format":"${{amount}}
        CAD","weight_unit":"kg","province_code":"ON","taxes_included":<AUTHORIZATION>,"tax_shipping":null,"county_taxes":true,"plan_display_name":"Development","plan_name":"affiliate","has_discounts":<AUTHORIZATION>,"has_gift_cards":<AUTHORIZATION>,"myshopify_domain":"sole-destroyer.myshopify.com","google_apps_domain":null,"google_apps_login_enabled":null,"money_in_emails_format":"${{amount}}","money_with_currency_in_emails_format":"${{amount}}
        CAD","eligible_for_payments":true,"requires_extra_payments_agreement":<AUTHORIZATION>,"password_enabled":<AUTHORIZATION>,"has_storefront":true,"eligible_for_card_reader_giveaway":<AUTHORIZATION>,"finances":true,"primary_location_id":19129106487,"checkout_api_supported":true,"multi_location_enabled":true,"setup_required":<AUTHORIZATION>,"force_ssl":true,"pre_launch_enabled":<AUTHORIZATION>,"enabled_presentment_currencies":["CAD","USD"]}}'
  recorded_at: Wed, 25 Sep 2019 16:26:59 GMT
recorded_with: VCR 5.0.0
