---
http_interactions:
- request:
    method: get
    uri: https://hrsn.myshopify.com/admin/api/2019-04/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZjdjY2U1ZjNhOWNiYTMzMDkzZTU3NjZkNGZjMGVlNTY6YzMxM2Y4MWZlODUxYjg5YjM2OWY3OTdjZjk5ZTM0NzY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '55'
      X-Sorting-Hat-Shopid:
      - '21942543'
      X-Shopid:
      - '21942543'
      X-Shardid:
      - '55'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '2759947'
      X-Stats-Apipermissionid:
      - '97204797496'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-04
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"shop":{"id":21942543,"name":"Big Clear Farms","email":"harry.brundage@gmail.com","domain":"bigclear.farm","province":"Ontario","country":"CA","address1":"250
        City Centre Ave, Bay 216","zip":"K1R 6K7","city":"Ottawa","source":null,"phone":"613
        400 0293","latitude":45.40828250000001,"longitude":-75.71878,"primary_locale":"en","address2":"Suite
        800","created_at":"2017-07-17T14:55:47-04:00","updated_at":"2019-02-13T17:57:27-05:00","country_code":"CA","country_name":"Canada","currency":"CAD","customer_email":"harry.brundage@gmail.com","timezone":"(GMT-05:00)
        America\/New_York","iana_timezone":"America\/New_York","shop_owner":"Harrison
        Brundage","money_format":"${{amount}}","money_with_currency_format":"${{amount}}
        CAD","weight_unit":"kg","province_code":"ON","taxes_included":false,"tax_shipping":null,"county_taxes":true,"plan_display_name":"staff_business","plan_name":"staff_business","has_discounts":false,"has_gift_cards":false,"myshopify_domain":"hrsn.myshopify.com","google_apps_domain":null,"google_apps_login_enabled":null,"money_in_emails_format":"${{amount}}","money_with_currency_in_emails_format":"${{amount}}
        CAD","eligible_for_payments":true,"requires_extra_payments_agreement":false,"password_enabled":false,"has_storefront":true,"eligible_for_card_reader_giveaway":true,"finances":true,"primary_location_id":40483778,"checkout_api_supported":true,"multi_location_enabled":true,"setup_required":false,"force_ssl":true,"pre_launch_enabled":false,"enabled_presentment_currencies":["CAD"]}}'
  recorded_at: Wed, 31 Jul 2019 13:32:42 GMT
recorded_with: VCR 5.0.0
