---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-cc5963a4-a64a-4e42-9aee-3fb1d84f3fdd","client_id":"5d28a6d14388c80013735b5a","secret":"94a394df32b0ee21133a42e71ae4a5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-4532ecf6-3a0d-4d08-a01f-06df2292c609",
          "item_id": "PqxnbPGyWDSgnB6Kbz3ZtkRGKVeo3NT7leyrD",
          "request_id": "4GLRyUYiNupvUC5"
        }
  recorded_at: Sat, 01 Jun 2019 00:00:00 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-4532ecf6-3a0d-4d08-a01f-06df2292c609","options":{},"client_id":"5d28a6d14388c80013735b5a","secret":"94a394df32b0ee21133a42e71ae4a5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "v4wGqaKrDnij7aGVENKnFQnjbl4nzWhW3DVAq",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "Rram87beMDCJrWnRQ3dwFln35QknE7iRvQ53P",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-4532ecf6-3a0d-4d08-a01f-06df2292c609","start_date":"2019-05-02","end_date":"2019-06-01","options":{"count":100,"offset":0},"client_id":"5d28a6d14388c80013735b5a","secret":"94a394df32b0ee21133a42e71ae4a5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "v4wGqaKrDn[...]
