---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accountSummaries
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4hcgXOeZJ24JoDF_yK7ONWVq9PE/2tbCwlKuvTQGowS_8IeKQcp5bBk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind":"analytics#accountSummaries","username":"harry@superpro.io","totalResults":3,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"117095335","kind":"analytics#accountSummary","name":"Homesick","webProperties":[{"kind":"analytics#webPropertySummary","id":"UA-117095335-1","name":"Homesick","internalWebPropertyId":"173710504","level":"STANDARD","websiteUrl":"https://homesick.com","profiles":[{"kind":"analytics#profileSummary","id":"173022463","name":"All
        Web Site Data","type":"WEB"}]}]},{"id":"82477248","kind":"analytics#accountSummary","name":"noraswimwear","webProperties":[{"kind":"analytics#webPropertySummary","id":"UA-82477248-1","name":"main
        website","internalWebPropertyId":"122013627","level":"STANDARD","websiteUrl":"http://www.noraswimwear.com","profiles":[{"kind":"analytics#profileSummary","id":"127652462","name":"All
        Web Site Data","type":"WEB"}]}]},{"id":"146176198","kind":"analytics#accountSummary","name":"Superpro","webProperties":[{"kind":"analytics#webPropertySummary","id":"UA-146176198-1","name":"Marketing
        Brochure","internalWebPropertyId":"208004714","level":"STANDARD","websiteUrl":"https://www.superpro.io","profiles":[{"kind":"analytics#profileSummary","id":"200604105","name":"All
        Web Site Data","type":"WEB"},{"kind":"analytics#profileSummary","id":"200708991","name":"Default
        Google Ads Profile","type":"WEB"}]}]}]}'
  recorded_at: Thu, 05 Sep 2019 19:36:38 GMT
recorded_with: VCR 5.0.0
