---
http_interactions:
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/shopify?import_id=one
    body:
      encoding: UTF-8
      string: '{"singer_config":{"private_app_api_key":"f7cce5f3a9cba33093e5766d4fc0ee56","private_app_password":"c313f81fe851b89b369f797cf99e3476","shop":"hrsn.myshopify.com","start_date":"2019-07-27"},"singer_state":{}}'
    headers:
      Authorization:
      - Token testdevelopmentapisecret
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"stream": "STDERR", "tag": "tap", "message": "INFO Using private app basic authentication from config[\"private_app_api_key\"] and config[\"private_app_password\"]\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"order_refunds\", \"schema\": {\"properties\": {\"order_id\": {\"type\": [\"null\", \"integer\"]}, \"restock\": {\"type\": [\"null\", \"boolean\"]}, \"order_adjustments\": {\"items\": {\"properties\": {\"order_id\": {\"type\": [\"null\", \"integer\"]}, \"tax_amount\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"refund_id\": {\"type\": [\"null\", \"integer\"]}, \"amount\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"kind\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"reason\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"processed_at\": {\"type\": [\"null\", \"string\"]}, \"user_id\": {\"type\": [\"null\", \"integer\"]}, \"note\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"refund_line_items\": {\"items\": {\"properties\": {\"location_id\": {\"type\": [\"null\", \"integer\"]}, \"subtotal_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"total_tax_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"line_item_id\": {\"type\": [\"null\", \"integer\"]}, \"total_tax\": {\"type\": [\"null\", \"number\"]}, \"quantity\": {\"type\": [\"null\", \"integer\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"line_item\": {\"properties\": {\"gift_card\": {\"type\": [\"null\", \"boolean\"]}, \"price\": {\"type\": [\"null\", \"string\"]}, \"tax_lines\": {\"items\": {\"properties\": {\"price_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"price\": {\"type\": [\"null\", \"string\"]}, \"title\": {\"type\": [\"null\", \"string\"]}, \"rate\": {\"type\": [\"null\", \"number\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"fulfillment_service\": {\"type\": [\"null\", \"string\"]}, \"sku\": {\"type\": [\"null\", \"string\"]}, \"fulfillment_status\": {\"type\": [\"null\", \"string\"]}, \"properties\": {\"items\": {\"properties\": {\"name\": {\"type\": [\"null\", \"string\"]}, \"value\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"quantity\": {\"type\": [\"null\", \"integer\"]}, \"variant_id\": {\"type\": [\"null\", \"integer\"]}, \"grams\": {\"type\": [\"null\", \"integer\"]}, \"requires_shipping\": {\"type\": [\"null\", \"boolean\"]}, \"vendor\": {\"type\": [\"null\", \"string\"]}, \"price_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"variant_inventory_management\": {\"type\": [\"null\", \"string\"]}, \"pre_tax_price\": {\"type\": [\"null\", \"string\"]}, \"variant_title\": {\"type\": [\"null\", \"string\"]}, \"total_discount_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"discount_allocations\": {\"items\": {\"properties\": {\"amount\": {\"type\": [\"null\", \"string\"]}, \"amount_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"discount_application_index\": {\"type\": [\"null\", \"integer\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"pre_tax_price_set\": {\"properties\": {\"shop_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"presentment_money\": {\"properties\": {\"currency_code\": {\"type\": [\"null\", \"string\"]}, \"amount\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}}, \"type\": [\"null\", \"object\"]}, \"fulfillable_quantity\": {\"type\": [\"null\", \"integer\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"total_discount\": {\"type\": [\"null\", \"string\"]}, \"name\": {\"type\": [\"null\", \"string\"]}, \"product_exists\": {\"type\": [\"null\", \"boolean\"]}, \"taxable\": {\"type\": [\"null\", \"boolean\"]}, \"product_id\": {\"type\": [\"null\", \"integer\"]}, \"title\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"subtotal\": {\"type\": [\"null\", \"number\"]}, \"restock_type\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}}, \"type\": \"object\"}, \"key_properties\": [\"id\"], \"bookmark_properties\": [\"created_at\"]}\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"custom_collections\", \"schema\": {\"properties\": {\"handle\": {\"type\": [\"null\", \"string\"]}, \"sort_order\": {\"type\": [\"null\", \"string\"]}, \"body_html\": {\"type\": [\"null\", \"string\"]}, \"title\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"published_scope\": {\"type\": [\"null\", \"string\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"updated_at\": {\"type\": [\"null\", \"string\"]}, \"image\": {\"properties\": {\"alt\": {\"type\": [\"null\", \"string\"]}, \"src\": {\"type\": [\"null\", \"string\"]}, \"width\": {\"type\": [\"null\", \"integer\"]}, \"created_at\": {\"type\": [\"null\", \"string\"]}, \"height\": {\"type\": [\"null\", \"integer\"]}}, \"type\": [\"null\", \"object\"]}, \"published_at\": {\"type\": [\"null\", \"string\"]}, \"template_suffix\": {\"type\": [\"null\", \"string\"]}}, \"type\": \"object\"}, \"key_properties\": [\"id\"], \"bookmark_properties\": [\"updated_at\"]}\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"metafields\", \"schema\": {\"properties\": {\"owner_id\": {\"type\": [\"null\", \"integer\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"owner_resource\": {\"type\": [\"null\", \"string\"]}, \"value_type\": {\"type\": [\"null\", \"string\"]}, \"key\": {\"type\": [\"null\", \"string\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"namespace\": {\"type\": [\"null\", \"string\"]}, \"description\": {\"type\": [\"null\", \"string\"]}, \"value\": {\"properties\": {}, \"type\": [\"null\", \"integer\", \"object\", \"string\"]}, \"updated_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}}, \"type\": \"object\"}, \"key_properties\": [\"id\"], \"bookmark_properties\": [\"updated_at\"]}\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"customers\", \"schema\": {\"properties\": {\"last_order_name\": {\"type\": [\"null\", \"string\"]}, \"currency\": {\"type\": [\"null\", \"string\"]}, \"email\": {\"type\": [\"null\", \"string\"]}, \"multipass_identifier\": {\"type\": [\"null\", \"string\"]}, \"default_address\": {\"properties\": {\"city\": {\"type\": [\"null\", \"string\"]}, \"address1\": {\"type\": [\"null\", \"string\"]}, \"zip\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"country_name\": {\"type\": [\"null\", \"string\"]}, \"province\": {\"type\": [\"null\", \"string\"]}, \"phone\": {\"type\": [\"null\", \"string\"]}, \"country\": {\"type\": [\"null\", \"string\"]}, \"first_name\": {\"type\": [\"null\", \"string\"]}, \"customer_id\": {\"type\": [\"null\", \"integer\"]}, \"default\": {\"type\": [\"null\", \"boolean\"]}, \"last_name\": {\"type\": [\"null\", \"string\"]}, \"country_code\": {\"type\": [\"null\", \"string\"]}, \"name\": {\"type\": [\"null\", \"string\"]}, \"province_code\": {\"type\": [\"null\", \"string\"]}, \"address2\": {\"type\": [\"null\", \"string\"]}, \"company\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"orders_count\": {\"type\": [\"null\", \"integer\"]}, \"state\": {\"type\": [\"null\", \"string\"]}, \"verified_email\": {\"type\": [\"null\", \"boolean\"]}, \"total_spent\": {\"type\": [\"null\", \"string\"]}, \"last_order_id\": {\"type\": [\"null\", \"integer\"]}, \"first_name\": {\"type\": [\"null\", \"string\"]}, \"updated_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"note\": {\"type\": [\"null\", \"string\"]}, \"phone\": {\"type\": [\"null\", \"string\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"addresses\": {\"items\": {\"properties\": {\"city\": {\"type\": [\"null\", \"string\"]}, \"address1\": {\"type\": [\"null\", \"string\"]}, \"zip\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"country_name\": {\"type\": [\"null\", \"string\"]}, \"province\": {\"type\": [\"null\", \"string\"]}, \"phone\": {\"type\": [\"null\", \"string\"]}, \"country\": {\"type\": [\"null\", \"string\"]}, \"first_name\": {\"type\": [\"null\", \"string\"]}, \"customer_id\": {\"type\": [\"null\", \"integer\"]}, \"default\": {\"type\": [\"null\", \"boolean\"]}, \"last_name\": {\"type\": [\"null\", \"string\"]}, \"country_code\": {\"type\": [\"null\", \"string\"]}, \"name\": {\"type\": [\"null\", \"string\"]}, \"province_code\": {\"type\": [\"null\", \"string\"]}, \"address2\": {\"type\": [\"null\", \"string\"]}, \"company\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"last_name\": {\"type\": [\"null\", \"string\"]}, \"tags\": {\"type\": [\"null\", \"string\"]}, \"tax_exempt\": {\"type\": [\"null\", \"boolean\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"accepts_marketing\": {\"type\": [\"null\", \"boolean\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}}, \"type\": \"object\"}, \"key_properties\": [\"id\"], \"bookmark_properties\": [\"updated_at\"]}\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"transactions\", \"schema\": {\"properties\": {\"error_code\": {\"type\": [\"null\", \"string\"]}, \"device_id\": {\"type\": [\"null\", \"integer\"]}, \"user_id\": {\"type\": [\"null\", \"integer\"]}, \"parent_id\": {\"type\": [\"null\", \"integer\"]}, \"test\": {\"type\": [\"null\", \"boolean\"]}, \"kind\": {\"type\": [\"null\", \"string\"]}, \"order_id\": {\"type\": [\"null\", \"integer\"]}, \"amount\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"authorization\": {\"type\": [\"null\", \"string\"]}, \"currency\": {\"type\": [\"null\", \"string\"]}, \"source_name\": {\"type\": [\"null\", \"string\"]}, \"message\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"created_at\": {\"type\": [\"null\", \"string\"]}, \"status\": {\"type\": [\"null\", \"string\"]}, \"payment_details\": {\"properties\": {\"cvv_result_code\": {\"type\": [\"null\", \"string\"]}, \"credit_card_bin\": {\"type\": [\"null\", \"string\"]}, \"credit_card_company\": {\"type\": [\"null\", \"string\"]}, \"credit_card_number\": {\"type\": [\"null\", \"string\"]}, \"avs_result_code\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"gateway\": {\"type\": [\"null\", \"string\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"receipt\": {\"properties\": {\"fee_amount\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"gross_amount\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"tax_amount\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}}, \"type\": [\"null\", \"object\"], \"patternProperties\": {\".+\": {}}}, \"location_id\": {\"type\": [\"null\", \"integer\"]}}, \"type\": \"object\"}, \"key_properties\": [\"id\"], \"bookmark_properties\": [\"created_at\"]}\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"products\", \"schema\": {\"properties\": {\"published_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"published_scope\": {\"type\": [\"null\", \"string\"]}, \"vendor\": {\"type\": [\"null\", \"string\"]}, \"updated_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"body_html\": {\"type\": [\"null\", \"string\"]}, \"product_type\": {\"type\": [\"null\", \"string\"]}, \"tags\": {\"type\": [\"null\", \"string\"]}, \"options\": {\"items\": {\"properties\": {\"name\": {\"type\": [\"null\", \"string\"]}, \"product_id\": {\"type\": [\"null\", \"integer\"]}, \"values\": {\"items\": {\"type\": [\"null\", \"string\"]}, \"type\": [\"null\", \"array\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"position\": {\"type\": [\"null\", \"integer\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"image\": {\"properties\": {\"updated_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"variant_ids\": {\"items\": {\"type\": [\"null\", \"integer\"]}, \"type\": [\"null\", \"array\"]}, \"height\": {\"type\": [\"null\", \"integer\"]}, \"alt\": {\"type\": [\"null\", \"string\"]}, \"src\": {\"type\": [\"null\", \"string\"]}, \"position\": {\"type\": [\"null\", \"integer\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"width\": {\"type\": [\"null\", \"integer\"]}}, \"type\": [\"null\", \"object\"]}, \"handle\": {\"type\": [\"null\", \"string\"]}, \"images\": {\"items\": {\"properties\": {\"updated_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"variant_ids\": {\"items\": {\"type\": [\"null\", \"integer\"]}, \"type\": [\"null\", \"array\"]}, \"height\": {\"type\": [\"null\", \"integer\"]}, \"alt\": {\"type\": [\"null\", \"string\"]}, \"src\": {\"type\": [\"null\", \"string\"]}, \"position\": {\"type\": [\"null\", \"integer\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"width\": {\"type\": [\"null\", \"integer\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"template_suffix\": {\"type\": [\"null\", \"string\"]}, \"title\": {\"type\": [\"null\", \"string\"]}, \"variants\": {\"items\": {\"properties\": {\"barcode\": {\"type\": [\"null\", \"string\"]}, \"tax_code\": {\"type\": [\"null\", \"string\"]}, \"created_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"weight_unit\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}, \"position\": {\"type\": [\"null\", \"integer\"]}, \"price\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"image_id\": {\"type\": [\"null\", \"integer\"]}, \"inventory_policy\": {\"type\": [\"null\", \"string\"]}, \"sku\": {\"type\": [\"null\", \"string\"]}, \"inventory_item_id\": {\"type\": [\"null\", \"integer\"]}, \"fulfillment_service\": {\"type\": [\"null\", \"string\"]}, \"title\": {\"type\": [\"null\", \"string\"]}, \"weight\": {\"type\": [\"null\", \"number\"]}, \"inventory_management\": {\"type\": [\"null\", \"string\"]}, \"taxable\": {\"type\": [\"null\", \"boolean\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"option1\": {\"type\": [\"null\", \"string\"]}, \"compare_at_price\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"updated_at\": {\"format\": \"date-time\", \"type\": [\"null\", \"string\"]}, \"option2\": {\"type\": [\"null\", \"string\"]}, \"old_inventory_quantity\": {\"type\": [\"null\", \"integer\"]}, \"requires_shipping\": {\"type\": [\"null\", \"boolean\"]}, \"inventory_quantity\": {\"type\": [\"null\", \"integer\"]}, \"grams\": {\"type\": [\"null\", \"integer\"]}, \"option3\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"admin_graphql_api_id\": {\"type\": [\"null\", \"string\"]}, \"id\": {\"type\": [\"null\", \"integer\"]}}, \"type\": \"object\"}, \"key_properties\": [\"id\"], \"bookmark_properties\": [\"updated_at\"]}\n"}
        {"stream": "STDOUT", "tag": "tap", "message": "{\"type\": \"SCHEMA\", \"stream\": \"orders\", \"schema\": {\"properties\": {\"presentment_currency\": {\"type\": [\"null\", \"string\"]}, \"subtotal_price_set\": {}, \"total_discounts_set\": {}, \"total_line_items_price_set\": {}, \"total_price_set\": {}, \"total_shipping_price_set\": {}, \"total_tax_set\": {}, \"total_price\": {\"multipleOf\": 1e-08, \"type\": [\"null\", \"number\"]}, \"line_items\": {\"items\": {\"properties\": {\"applied_discounts\": {}, \"total_discount_set\": {}, \"pre_tax_price_set\": {}, \"price_set\": {}, \"grams\": {\"type\": [\"null\", \"integer\"]}, \"compare_at_price\": {\"type\": [\"null\", \"string\"]}, \"destination_location_id\": {\"type\": [\"null\", \"integer\"]}, \"key\": {\"type\": [\"null\", \"string\"]}, \"line_price\": {\"type\": [\"null\", \"string\"]}, \"origin_location_id\": {\"type\": [\"null\", \"integer\"]}, \"applied_discount\": {\"type\": [\"null\", \"integer\"]}, \"fulfillable_quantity\": {\"type\": [\"null\", \"integer\"]}, \"variant_title\": {\"type\": [\"null\", \"string\"]}, \"properties\": {\"items\": {\"properties\": {\"name\": {\"type\": [\"null\", \"string\"]}, \"value\": {\"type\": [\"null\", \"string\"]}}, \"type\": [\"null\", \"object\"]}, \"type\": [\"null\", \"array\"]}, \"tax_code\": {\"type\": [\"null\", \"string\"]}, \"discount_allocations\": {\"items\": {\"properties\": {\"discount_application_index\[...]
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/shopify?import_id=two
    body:
      encoding: UTF-8
      string: '{"singer_config":{"private_app_api_key":"f7cce5f3a9cba33093e5766d4fc0ee56","private_app_password":"c313f81fe851b89b369f797cf99e3476","shop":"hrsn.myshopify.com","start_date":"2019-07-27"},"singer_state":{"bookmarks":{"refund_orders":{"updated_at":"2019-08-01T13:00:50.000000Z"},"custom_collections":{"updated_at":"2019-08-01T13:00:52.000000Z"},"metafields":{"updated_at":"2019-08-01T13:00:54.000000Z"},"metafield_orders":{"updated_at":"2019-08-01T13:00:55.000000Z"},"metafield_customers":{"updated_at":"2019-08-01T13:00:57.000000Z"},"metafield_products":{"updated_at":"2019-08-01T13:01:00.000000Z"},"metafield_custom_collections":{"updated_at":"2019-08-01T13:01:02.000000Z"},"customers":{"updated_at":"2019-08-01T13:01:04.000000Z"},"transaction_orders":{"updated_at":"2019-08-01T13:01:05.000000Z"},"products":{"updated_at":"2019-08-01T13:01:07.000000Z"},"orders":{"updated_at":"2019-08-01T13:01:11.000000Z"},"abandoned_checkouts":{"updated_at":"2019-08-01T13:01:13.000000Z"},"collects":{"updated_at":"2019-08-01T13:01:15.089680Z"}}}}'
    headers:
      Authorization:
      - Token testdevelopmentapisecret
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"stream": "STDERR", "tag": "target", "message": "INFO PostgresTarget created with established connection: `host=postgres port=5432 dbname=superpr[...]
