---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-af1e934b-391c-4af3-a758-ee9aa85371a0","client_id":"5d28a6d14388c80013735b5a","secret":"94a394df32b0ee21133a42e71ae4a5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-8b617139-0edb-4fb5-80b5-b3f35b236196",
          "item_id": "m1XPXPRogrTzN4XpBw3jIepJD6jNW8HLoo985",
          "request_id": "hoJlVZuoKxzSG5F"
        }
  recorded_at: Fri, 12 Jul 2019 19:36:23 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-8b617139-0edb-4fb5-80b5-b3f35b236196","options":{},"client_id":"5d28a6d14388c80013735b5a","secret":"94a394df32b0ee21133a42e71ae4a5"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Version:
      - '2019-05-29'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2019-05-29'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "opm7m7q8JxT3j41no7MZfEKVy7kQq6SR91gVp",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "gja3a3nQPvU9BdbQa6g8upwQBK4XMnfgDPz74",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
