---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v4.0/10213720435438964/adaccounts?access_token=<FB_OAUTH_ACCESS_TOKEN>&appsecret_proof=1c4ae6ca99ad8215fcd755cecf6cf83c80d05106737769d4fe13f43da1d54499&fields=name,account_status,currency,age&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=core-production-rails,trace_id=ec9cbc1f-6ce6-4143-8234-d12acb389605,parent_id=83fcecac-8eab-4fdb-b7df-e6499392f202,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7e9e6839f31dc3459444283373a5a7bcc57ef240"'
      X-Business-Use-Case-Usage:
      - '{"57930665":[{"type":"ads_management","call_count":7,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v4.0
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Harry Brundage","account_status":1,"currency":"USD","age":0,"id":"act_57930665"}],"paging":{"cursors":{"before":"NjAwMjcxMDE4NzI0MgZDZD","after":"NjAwMjcxMDE4NzI0MgZDZD"}}}'
  recorded_at: Mon, 30 Sep 2019 19:54:33 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v4.0/10213720435438964/adaccounts?access_token=<FB_OAUTH_ACCESS_TOKEN>&appsecret_proof=1c4ae6ca99ad8215fcd755cecf6cf83c80d05106737769d4fe13f43da1d54499&fields=name,account_status,currency,age&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=core-production-rails,trace_id=a24d6f49-6866-4252-8c1f-9395cf971d9e,parent_id=609882c6-43d4-4c9a-9dd7-085973e6f44c,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7e9e6839f31dc3459444283373a5a7bcc57ef240"'
      X-Business-Use-Case-Usage:
      - '{"57930665":[{"type":"ads_management","call_count":7,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v4.0
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Harry Brundage","account_status":1,"currency":"USD","age":0,"id":"act_57930665"}],"paging":{"cursors":{"before":"NjAwMjcxMDE4NzI0MgZDZD","after":"NjAwMjcxMDE4NzI0MgZDZD"}}}'
  recorded_at: Mon, 30 Sep 2019 19:54:33 GMT
recorded_with: VCR 5.0.0
