---
http_interactions:
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/shopify
    body:
      encoding: UTF-8
      string: '{"singer_config":{"start_date":"2019-09-15","private_app_api_key":"f7cce5f3a9cba33093e5766d4fc0ee56","private_app_password":"c313f81fe851b89b369f797cf99e3476","shop":"hrsn.myshopify.com"},"singer_state":{},"transform":{}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"stream": "STDERR", "tag": "tap", "message": "INFO Using private app basic authentication from config[\"private_app_api_key\"] and config[\"private_app_password\"]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO Syncing stream: orders\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO GET https://hrsn.myshopify.com/admin/orders.json?since_id=1&updated_at_min=2019-09-15+00%3A00%3A00%2B00%3A00&updated_at_max=2019-09-16+00%3A00%3A00%2B00%3A00&limit=250&status=any\n"}
        {"stream": "STDERR", "tag": "target", "message": "INFO PostgresTarget created with established connection: `host=postgres port=5432 dbname=superpro_development user=superpro`, PostgreSQL schema: `tap_shopify`\n"}
        {"stream": "STDERR", "tag": "target", "message": "INFO Sending version information to singer.io. To disable sending anonymous usage data, set the config parameter \"disable_collection\" to true\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO --> 200 OK 13b\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO METRIC: {\"type\": \"timer\", \"metric\": \"http_request_duration\", \"value\": 0.5776257514953613, \"tags\": {\"endpoint\": \"orders\", \"status\": \"succeeded\"}}\n"}
        {"stream": "STDERR", "tag": "target", "message": "WARNING EMITTING-STATE {'bookmarks': {'currently_sync_stream': 'orders', 'orders': {'updated_at': '2019-09-16T00:00:00.000000Z'}}}\n"}
        {"stream": "STDOUT", "tag": "target", "message": "{\"bookmarks\": {\"currently_sync_stream\": \"orders\", \"orders\": {\"updated_at\": \"2019-09-16T00:00:00.000000Z\"}}}\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO GET https://hrsn.myshopify.com/admin/orders.json?since_id=1&updated_at_min=2019-09-16+00%3A00%3A00%2B00%3A00&updated_at_max=2019-09-16+13%3A32%3A58%2B00%3A00&limit=250&status=any\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO --> 200 OK 13b\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO METRIC: {\"type\": \"timer\", \"metric\": \"http_request_duration\", \"value\"[...]
