---
http_interactions:
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/shopify?import_id=1
    body:
      encoding: UTF-8
      string: '{"singer_config":{"private_app_api_key":"f7cce5f3a9cba33093e5766d4fc0ee56","private_app_password":"c313f81fe851b89b369f797cf99e3476","shop":"hrsn.myshopify.com","start_date":"2019-09-01"},"singer_state":{},"transform":{"account_id":1104,"shop_id":1}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"stream": "STDERR", "tag": "target", "message": "INFO PostgresTarget created with established connection: `host=postgres port=5432 dbname=superpro_development user=superpro`, PostgreSQL schema: `tap_shopify`\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO Using private app basic authentication from config[\"private_app_api_key\"] and config[\"private_app_password\"]\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO Syncing stream: orders\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO GET https://hrsn.myshopify.com/admin/orders.json?since_id=1&updated_at_min=2019-09-01+00%3A00%3A00%2B00%3A00&updated_at_max=2019-09-02+00%3A00%3A00%2B00%3A00&limit=250&status=any\n"}
        {"stream": "STDERR", "tag": "target", "message": "INFO Sending version information to singer.io. To disable sending anonymous usage data, set the config parameter \"disable_collection\" to true\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO --> 200 OK 13b\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO METRIC: {\"type\": \"timer\", \"metric\": \"http_request_duration\", \"value\": 0.44178032875061035, \"tags\": {\"endpoint\": \"orders\", \"status\": \"succeeded\"}}\n"}
        {"stream": "STDERR", "tag": "target", "message": "WARNING EMITTING-STATE {'bookmarks': {'currently_sync_stream': 'orders', 'orders': {'updated_at': '2019-09-02T00:00:00.000000Z'}}}\n"}
        {"stream": "STDOUT", "tag": "target", "message": "{\"bookmarks\": {\"currently_sync_stream\": \"orders\", \"orders\": {\"updated_at\": \"2019-09-02T00:00:00.000000Z\"}}}\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO GET https://hrsn.myshopify.com/admin/orders.json?since_id=1&updated_at_min=2019-09-02+00%3A00%3A00%2B00%3A00&updated_at_max=2019-09-03+00%3A00%3A00%2B00%3A00&limit=250&status=any\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO --> 200 OK 13b\n"}
        {"stream": "STDERR", "tag": "tap", "message": "INFO METRIC: {\"type\": \"timer\", \"metric\": \"http_request_duration\", \"value\"[...]
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/shopify?import_id=2
    body:
      encoding: UTF-8
      string: '{"singer_config":{"private_app_api_key":"f7cce5f3a9cba33093e5766d4fc0ee56","private_app_password":"c313f81fe851b89b369f797cf99e3476","shop":"hrsn.myshopify.com","start_date":"2019-09-01"},"singer_state":{"bookmarks":{"orders":{"updated_at":"2019-09-16T13:40:24.000000Z"},"collects":{"updated_at":"2019-09-16T13:41:07.300324Z"},"products":{"updated_at":"2019-09-16T13:41:18.000000Z"},"customers":{"updated_at":"2019-09-16T13:41:13.000000Z"},"metafields":{"updated_at":"2019-09-16T13:40:30.000000Z"},"refund_orders":{"updated_at":"2019-09-16T13:41:28.000000Z"},"metafield_orders":{"updated_at":"2019-09-16T13:40:35.000000Z"},"custom_collections":{"updated_at":"2019-09-16T13:40:57.000000Z"},"metafield_products":{"updated_at":"2019-09-16T13:40:47.000000Z"},"transaction_orders":{"updated_at":"2019-09-16T13:41:07.000000Z"},"abandoned_checkouts":{"updated_at":"2019-09-16T13:41:01.000000Z"},"metafield_customers":{"updated_at":"2019-09-16T13:40:40.000000Z"},"metafield_custom_collections":{"updated_at":"2019-09-16T13:40:51.000000Z"}}},"transform":{"account_id":1104,"shop_id":1}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/singer-text; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"stream": "STDERR", "tag": "tap", "message": "INFO Using private app basic authentication from config[\"private_a[...]
