---
http_interactions:
- request:
    method: post
    uri: http://singer-importer-docker-compose.supo.dev:4002/import/facebook?import_id=1
    body:
      encoding: UTF-8
      string: '{"singer_config":{"access_token":"<FB_OAUTH_ACCESS_TOKEN>","account_id":"57930665","start_date":"2019-09-01"},"singer_state":{},"transform":{"account_id":16,"fb_account_id":"act_57930665"}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\n
        \ \"http://www.w3.org/TR/html4/loose.dtd\">\n<html>\n  <head>\n    <title>RuntimeError:
        Unknown importer facebook // Werkzeug Debugger</title>\n    <link rel=\"stylesheet\"
        href=\"?__debugger__=yes&amp;cmd=resource&amp;f=style.css\"\n        type=\"text/css\">\n
        \   <!-- We need to make sure this has a favicon so that the debugger does\n
        \        not by accident trigger a request to /favicon.ico which might\n         change
        the application state. -->\n    <link rel=\"shortcut icon\"\n        href=\"?__debugger__=yes&amp;cmd=resource&amp;f=console.png\">\n
        \   <script src=\"?__debugger__=yes&amp;cmd=resource&amp;f=jquery.js\"></script>\n
        \   <script src=\"?__debugger__=yes&amp;cmd=resource&amp;f=debugger.js\"></script>\n
        \   <script type=\"text/javascript\">\n      var TRACEBACK = 140426681873360,\n
        \         CONSOLE_MODE = false,\n          EVALEX = true,\n          EVALEX_TRUSTED
        = false,\n          SECRET = \"Saib1mO3wNJBbgSWeJ7q\";\n    </script>\n  </head>\n
        \ <body style=\"background-color: #fff\">\n    <div class=\"debugger\">\n<h1>RuntimeError</h1>\n<div
        class=\"detail\">\n  <p class=\"errormsg\">RuntimeError: Unknown importer
        facebook</p>\n</div>\n<h2 class=\"traceback\">Traceback <em>(most recent call
        last)</em></h2>\n<div class=\"traceback\">\n  \n  <ul><li><div class=\"frame\"
        id=\"frame-140426681874128\">\n  <h4>File <cite class=\"filename\">\"/root/.local/share/virtualenvs/app-4PlAip0Q/lib/python3.7/site-packages/flask/app.py\"</cite>,\n
        \     line <em class=\"line\">2463</em>,\n      in <code class=\"function\">__call__</code></h4>\n
        \ <div class=\"source library\"><pre class=\"line before\"><span class=\"ws\"></span>
        </pre>\n<pre class=\"line before\"><span class=\"ws\">    </span>def __call__(self,
        environ, start_response):</pre>\n<pre class=\"line before\"><span class=\"ws\">
        \       </span>&quot;&quot;&quot;The WSGI server calls the Flask application
        object as the</pre>\n<pre class=\"line before\"><span class=\"ws\">        </span>WSGI
        application. This calls :meth:`wsgi_app` which can be</pre>\n<pre class=\"line
        before\"><span class=\"w[...]
