<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'head_common' %>
  </head>

  <body>
    <%= yield %>
    <%= stylesheet_packs_with_chunks_tag 'app', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'app' %>
  </body>
</html>